/* global color variables */
/* mixins and functions */
#categories {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px; }
  #categories .products-title span {
    margin-left: 10px; }
  #categories .products-title .action {
    float: right; }
  #categories .products-title .weui_btn {
    display: inline-block;
    width: inherit;
    float: right;
    height: 35px;
    margin-top: 0;
    margin-right: 10px;
    line-height: 1.3333;
    padding-left: 10px;
    padding-right: 10px; }
  #categories .weui_cell_bd img {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
    float: left; }
  #categories .weui_cell_bd .product-detail {
    padding-left: 5rem; }
    #categories .weui_cell_bd .product-detail .produc-price {
      margin-top: 5px;
      color: #ffbf00; }
  #categories .add-categories {
    width: inherit;
    float: right;
    display: inline-block;
    line-height: 1.3333; }
